@charset "utf-8";
body {
	background-image: url("images/christmas_shop_pattern-300px.png");
	background-color: #FFCDCD;
}
header {
	width: auto;
	height: 200px;
    display: flex;
	flex-direction: column;
	background-color: #FF0000;
}
h1 {
	font-size: 50px;
	margin: auto;
	font-family: "Century Schoolbook L";
	color: #FFF;
}
h2 {
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Century Schoolbook L";
	color: #000;	
}
content {
	width: 900px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	background-color: #FFF;
}
#form {
	width: 640px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-image: none;
		background-color: #FFF;
}
#top-text {
	text-align: center;
}
footer {
	width: auto;
	height: 200px;
	display: flex;
	flex-direction: column;
	background-color: #FF0000;

	padding-top: auto;
	padding-bottom: auto;
	padding-left: 30px;
	padding-right: 30px;
}
#footer_text {
	font-size: 20px;
	margin: auto;
	font-family: "Courier New";
	color: #FFF;
}
